/*Hardcoding of image size ??*/


@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap');

body:not(.devisAdvisor){
	
	background-image: url("wbg.svg");
	background-repeat: no-repeat;
	background-attachment: fixed;

	/*Font style*/
	font: 400 16px/28px "gibson";
	font-style: normal;
	font-variant-caps: normal;
	font-weight: 400;
	font-stretch: normal;
	
	line-height: 28px;
	font-family: 'Arvo', serif;
	font-size-adjust: none;
	
	width: 100%;
	height: 100%;

	padding-bottom: 0;
	padding-top:0;
	padding-left:0;
	padding-right:0;
		
	margin: 0;
	
	overflow-x: hidden;
}

.devisAdvisor{
  font-family: 'Arvo', serif;
  text-align: left;
  color:orange;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
  padding: 23px;
  font-size: 20px;
  z-index: 998;
}

header{

        background-image: url("band3.png");
		
        padding-bottom: 0;
		padding-top:54%;
		padding-left:0;
		padding-right:0;

        background-size: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
		
		position: relative;
		
}


h1{
	transform: scale(1.05, 1.25);
        font-weight: 900;
        color: #fff;
        -webkit-text-fill-color: orange;
        -webkit-text-stroke: 0.7px #000;
}

p{
	font-size: 16px;
}
img.fixedSize{
	width:20%;
	height:20%;
	text-align:center; 
	padding:20px;
	object-fit: contain;
}
header h1{
	position: absolute;
	top :0 ;
	right : 0;
	font-size: 50px;
}

footer{
        background-image: url("fter1.png");

		
        padding-bottom: 9%;
		padding-top:0;
		padding-left:0;
		padding-right:0;

		background-size: 100%;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
		
		text-align:center;
		position: relative;
}

footer span{
	position: absolute;
	bottom: 0;
}
.beforeScroll{
	/*display:none;*/
}

.afterScroll{
	/*display:block;*/
}

.revertBg{
  color: rgb(242,145,30);
  mix-blend-mode: difference;
}
/*--- navigation bar ---*/
.navbar {
  background:rgb(242,145,30);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

img.fullPageSize{
	width: 100%;
	height: auto;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.header {
  /*background-image: url('logo_ben.jpg');
  background-size: cover;
  background-position: center;
  position: relative;*/
}

.invisibleDiv{
  width: 20%;
  height: auto;
  transition: width 1s, height 1s;
  color:orange;
}

.invisibleDiv:hover{
	width:100%;
	height:auto;
	align: center;
	
}

.invisibleDivSocial{
  width: 20%;
  height: auto;
  transition: width 1s, height 1s;
}

.invisibleDivSocial:hover{
	width:100%;
	height:auto;
	align: center;
}
.faceBookLogo{
	width:10%;
	height:auto;
}

img.carrouselResize{

    width:auto;
    height:250px;
    text-align:center; 
    padding:20px;
    object-fit: contain;
}


.centrer{
  text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.cLeft{
	float: left;
}

.cRight{
	float: right;
}

.cTxt{
	color : orange;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 220px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=checkbox] {
  display: none;
}

.container img {
  margin: 10px;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

input[type=checkbox]:checked ~ label > img {
  transform: scale(3);
  cursor: zoom-out;
}

#inline{
	width:100%;
	height:auto;
	display:flex;
} 

.clickable-image{
  width:50vw;
}

.image-open{
  animation: scaleUp 2s forwards linear;
}

.clickable-image:hover{
  cursor: pointer;
}

@keyframes scaleUp{
  from{
    width:50vw;
  }to{
    width:100vw;
  }
}

/*Modal test*/

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width:25%;
  height:auto;
}

{}
#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}


/*Contact form*/

form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 100%;
  height: auto;
  /* Encadré pour voir les limites du formulaire 
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;*/
}

form div + div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: auto;
  text-align: right;
}

input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: auto;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: rgb(242,145,30);
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

.button {
  /* Pour placer le bouton à la même position que les champs texte */
  padding-left: auto; /* même taille que les étiquettes */
}

button {
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  margin-left: .5em;
}
