body {
  padding: 0;
  margin: 0;
  /*background: #131313;
  color: orange;
  */
  background-image: url("logo_ben.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

.revertBg{
  color: rgb(242,145,30);
  mix-blend-mode: difference;
}
/*--- navigation bar ---*/
.navbar {
  background:rgb(242,145,30);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

img.fullPageSize{
	width: 100%;
	height: 400px;
	
}
.image{

}

.bg{
  /* The image used */
  background-image: url("wbg.svg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.header {
  /*background-image: url('logo_ben.jpg');
  background-size: cover;
  background-position: center;
  position: relative;*/
}

img.carrouselResize{

    width:auto;
	height:250px;
    text-align:center; 
    padding:20px;
    object-fit: contain;
}


.centrer{
  text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.cLeft{
	float: left;
}

.cRight{
	float: right;
}

.cTxt{
	color : orange;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 220px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=checkbox] {
  display: none;
}

.container img {
  margin: 10px;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

input[type=checkbox]:checked ~ label > img {
  transform: scale(3);
  cursor: zoom-out;
}

#inline{
	width:100%;
	height:auto;
	display:flex;
} 

.clickable-image{
  width:50vw;
}

.image-open{
  animation: scaleUp 2s forwards linear;
}

.clickable-image:hover{
  cursor: pointer;
}

@keyframes scaleUp{
  from{
    width:50vw;
  }to{
    width:100vw;
  }
}


/*Modal test*/

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}