/*Hardcoding of image size ??*/

@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&display=swap');

body{
	
	margin-left: 0px;
	margin-right: 0px;
	
	padding-left: 0px;
	padding-right: 0px;
	
	background-image: url("wbg.svg");
	background-repeat: no-repeat;
	background-attachment: fixed;

	/*Font style*/
	font: 400 16px/28px "Josefin Sans";
	font-style: normal;
	font-variant-caps: normal;
	font-weight: 400;
	font-stretch: normal;
	
	line-height: 28px;
	font-family: 'Josefin Sans', sans-serif;
	font-size-adjust: none;
	
	width: 100%;
	height: 100%;

	padding-bottom: 0;
	padding-top:0;
	padding-left:0;
	padding-right:0;
		
	border-width: 150px;
	
	overflow-x: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-position: center;
  object-fit: cover;
}

header{

        padding-bottom: 0;
		padding-top:54%;
		padding-left:0;
		padding-right:0;

        background-size: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
		
		position: relative;	
}

h1{
	z-index: 997;
	font-family: 'Amaranth', sans-serif;
}

.ctc{
	/*dummy*/
}

p:not(.ctc){
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 30%;
	margin-left: 30%;
}

/* For Mobile */
@media screen and (max-width: 540px) {
	p:not(.ctc){
		font-size: 16px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 20%;
		margin-left: 20%;
	}
}

div
{
	margin-top: 50px;
	margin-bottom: 50px;
}

/*Gallery*/

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

.copyright{
	font-size: 5%;
	position: absolute;
    bottom: 0;
}
footer{

		background-image: url('fter1.png');
        padding-bottom: 9%;
		padding-top:0;
		padding-left:0;
		padding-right:0;

		background-size: 100%;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
		
		color : orange;
		text-align:center;
		position: relative;
}

/*--- navigation bar ---*/
.centrer{
  text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.cLeft{
	
	float: left;
}

.cRight{
	float: right;
}

.cTxt{
	color : orange;
}

.sidenav:not(.copyright) {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0; /* Place content 60px from the top */
  padding-bottom:0;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  margin-bottom: 0px;
  margin-top:0px;
}

/* The navigation menu links */
.sidenav a {

  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  
  margin-top: 0px;
  margin-bottom:0px;
  
  text-decoration: none;
  font-size: 100%;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar-footer{
	height: 50px;
	position: absolute;
	width: 100%;
	bottom: 0;
	list-style-type: none;
	padding-bottom:5.5em;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: orange;
  color: black;
}

#sidenav a.active {
  background-color: #fffff;
  color: white;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 220px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=checkbox] {
  display: none;
}

.container img {

  margin: 10px;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

input[type=checkbox]:checked ~ label > img {
  transform: scale(3);
  cursor: zoom-out;
}

#inline{
	width:100%;
	height:auto;
	display:flex;
} 

.clickable-image{
  width:50vw;
}

.image-open{
  animation: scaleUp 2s forwards linear;
}

.clickable-image:hover{
  cursor: pointer;
}

@keyframes scaleUp{
  from{
    width:50vw;
  }to{
    width:100vw;
  }
}

/*Modal test*/

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  /*width:25%;*/
  /*height:auto;*/
}

{}
#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}


/*Contact form*/

form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 100%;
  height: auto;
  /* Encadré pour voir les limites du formulaire 
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;*/
}

form div + div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: auto;
  text-align: right;
}

input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: auto;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: rgb(242,145,30);
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

.button {
  /* Pour placer le bouton à la même position que les champs texte */
  padding-left: auto; /* même taille que les étiquettes */
}

button {
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  margin-left: .5em;
}
